/* .section-1 .container .heading .animate__fadeInDown{
    --animate-duration: .9s;
}
.section-1 .container .paragraph .animate__fadeInUp{
    --animate-duration: .9s;
    --animate-delay: .2s;
}
.section-1 .container .hero-btn .animate__fadeInUp{
    --animate-duration: .5s;
} */

/* section 2 */
/* .section-2 .main-1 .left-container p{
    --animate-delay: .2s;
}
.section-2 .main-1 .left-container a{
    --animate-delay: .4s;
}
.section-2 .main-1 img{
    --animate-delay: .2s;
} */