/* media queries */
@media screen and (max-width: 319px){
    body{
        display: none;
    }
}

/* Phones */
@media screen and (min-width: 320px) and (max-width: 640px) {
    /* p{
        font-size: 16px;
    } */
    nav{
        padding: 0 16px 0 16px;
    }
    .menu-items .menu-hide{
        display: none;
    }
    .hamburger{
        display: flex;
    }
    .sidebar{
        height: 100vh;
        width: 100vw;
    }
    section{
        padding: 40px 16px 30px 16px;
    }

    .border-btn{
        padding: 16px 12px;
    }

    .section-1 .heading{
        padding: 0;
    }
    .section-1 .paragraph{
        padding: 22px 0 0 0;
        margin-bottom: 28px;
    }
    .section-2 img{
        width: 100%;
        height: auto;
    }
    .section-2 main{
        /* border: 1px red solid; */
        display: flex;
        align-items: center;
        height: auto;
        flex-direction: column;
        justify-content: center;
    }
    .section-2 .main-1 .left-container{
        /* border: 1px yellow solid; */
        margin-right: 0;
        margin-bottom: 20px;
        height: auto;

    }
    .section-2 .main-1 img{
        margin-left: 0;
        margin-top: 20px;
    }

    .section-2 .main-2{
        /* border: 1px yellow solid; */
        padding-top: 50px;
        flex-direction: column-reverse;
    }
    .section-2 .main-2 .right-container{
        margin-left: 0;
        margin-bottom: 20px;
    }
    
    .section-2 .main-2 img{
        margin-right: 0;
        margin-top: 20px;
    }

    .section-3 .card-container{
        grid-template-columns: 1fr;
        padding-top: 42px;
    }


    .section-4 .container{
        display: flex;
        flex-direction: column;
        padding: 16px;
    }

    .section-4 .container .left-container{
        margin-right: 0;
        text-align: center;
    }
    .section-4 .container .left-container h2{
        margin-bottom: 24px;
    }
    .section-4 .container .right-container{
        margin-left: 0;
        text-align: center;
    }
    .course-container{
        padding-top: 72px;
        display: grid;
        grid-template-columns: 1fr;
        /* column-gap: 20px; */
        row-gap: 40px;
    }
    .course-details img{
        height: auto;
    }
    /* .course-details{
        filter: blur(0px);
    } */

    .form .form-container{
        display: grid;
        grid-template-columns: 1fr;
        column-gap: 16px;
        row-gap: 24px;
    }

    .info-cards-cont{
        grid-template-columns: 1fr;
    }
    .info-card{
        background-color: #ffffff;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        padding: 30px 15px;
        border-radius: 12px;
    }

    /* ------------------------------------------------------------------------------------------
    ---------------------------------------------------------------------------------------- */

    /* About Us page */
    .main-3 .content-container{
        flex-direction: column;
        margin-top: 90px;
    }
    .main-3 .content-container .left-content{
        /* border: 1px red solid; */
        margin-right: 0;
        margin-bottom: 12px;
    }
    .main-3 .content-container .right-content{
        margin-top: 12px;
        margin-left: 0;
    }
    .section-2 .main-3-container{
        margin-top: 64px;
        background-position: 75% 75%;
    }
    .section-7 .card-container{
        grid-template-columns: 1fr;
        padding-top: 42px;
    }


        /* ------------------------------------------------------------------------------------------
    ---------------------------------------------------------------------------------------- */

    /* Careers page */
    .job-container .job-descr{
        width: 90%;
    }


    .input-cont{
        /* border: purple 1px solid; */
        display: flex;
        justify-content:start;
        background-color: #FFF1BF;
        margin-top: 16px;
    }
    .upload-cv input{
        width: 100%;
    }




    .footer-content{
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .footer{
        padding: 72px 16px 48px 16px;
    }
    .footer-content .footer-logo{
        width:100%;
        margin-bottom: 32px;
    }
    .site-links{
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: start;
        /* margin-left: 48px; */
    }
    .footer-content .site-links a{
        border-right: 0;
        border-bottom: 1px var(--primary-color) solid;
        color: #ffffff;
        font-size: 24px;
        font-weight: 400;
        margin: 8px 0;
        padding: 12px 0;
        /* width: 100%; */
    }

    .footer-content .site-links a:last-child{
        margin: 8px 0 0 0;
        border-bottom: none;
        padding: 12px 0;
    }
}

/* Tablet*/
@media screen and (min-width: 641px) and (max-width: 768px) {
    /* p{
        font-size: 19px;
    } */
    nav{
        padding: 0 16px 0 16px;
    }
    .menu-items .menu-hide{
        display: none;
    }
    .hamburger{
        display: flex;
    }
    .sidebar{
        height: 100vh;
        width: 100vw;
    }
    section{
        padding: 90px 16px 50px 16px;
    }

    .section-1 .heading{
        padding: 0;
    }
    .section-1 .paragraph{
        padding: 24px 70px 0 70px;
        margin-bottom: 36px;
    }
    .section-2 img{
        width: 100%;
        height: auto;
    }
    .section-2 main{
        /* border: 1px red solid; */
        display: flex;
        align-items: center;
        height: auto;
        flex-direction: column;
        justify-content: center;
    }
    .section-2 .main-1 .left-container{
        /* border: 1px yellow solid; */
        margin-right: 0;
        margin-bottom: 20px;
        height: auto;

    }
    .section-2 .main-1 img{
        margin-left: 0;
        margin-top: 24px;
    }

    .section-2 .main-2{
        /* border: 1px yellow solid; */
        padding-top: 50px;
        flex-direction: column-reverse;
    }
    .section-2 .main-2 .right-container{
        margin-left: 0;
        margin-bottom: 24px;
    }
    
    .section-2 .main-2 img{
        margin-right: 0;
        margin-top: 24px;
    }


    .section-3 .card-container{
        grid-template-columns: 1fr 1fr;
        column-gap: 20px;
        row-gap: 20px;
    }


    .course-container{
        padding-top: 72px;
        display: grid;
        grid-template-columns: 1fr;
        /* column-gap: 20px; */
        row-gap: 20px;
    }
    .course-details img{
        height: auto;
    }
    /* .course-details{
        filter: blur(0px);
    } */


    .about-left-container{
        margin-right: 0;
        margin-bottom: 24px;
    }
    .about-right-container{
        margin-left: 0;
    }


        /* ------------------------------------------------------------------------------------------
    ---------------------------------------------------------------------------------------- */

    /* About Us page */
    .main-3 .content-container{
        flex-direction: column;
        margin-top: 90px;
    }
    .main-3 .content-container .left-content{
        /* border: 1px red solid; */
        margin-right: 0;
        margin-bottom: 12px;
    }
    .main-3 .content-container .right-content{
        margin-top: 12px;
        margin-left: 0;
    }
    .section-7 .card-container{
        grid-template-columns: 1fr 1fr;
        padding-top: 42px;
    }



    .footer-content{
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .footer{
        padding: 72px 16px 48px 16px;
    }
    .footer-content .footer-logo{
        width:100%;
        margin-bottom: 32px;
    }
    .site-links{
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: start;
        /* margin-left: 48px; */
    }
    .footer-content .site-links a{
        border-right: 0;
        border-bottom: 1px var(--primary-color) solid;
        color: #ffffff;
        font-size: 24px;
        font-weight: 400;
        margin: 8px 0;
        padding: 12px 0;
        /* width: 100%; */
    }

    .footer-content .site-links a:last-child{
        margin: 8px 0 0 0;
        border-bottom: none;
        padding: 12px 0;
    }
}

/* Laptop*/

@media screen and (min-width: 769px) and (max-width: 1024px) {
    nav{
        padding: 0 16px 0 16px;
    }
    section{
        padding: 90px 16px 50px 16px;
    }
    .section-2 main{
        /* border: 1px red solid; */
        display: flex;
        align-items: center;
        height: auto;
        flex-direction: column;
        justify-content: center;
    }
    .section-2 .main-1 .left-container{
        /* border: 1px yellow solid; */
        margin-right: 0;
        margin-bottom: 20px;
        height: auto;

    }
    .section-2 .main-1 img{
        margin-left: 0;
        margin-top: 24px;
    }

    .section-2 .main-2{
        /* border: 1px yellow solid; */
        padding-top: 50px;
        flex-direction: column-reverse;
    }
    .section-2 .main-2 .right-container{
        margin-left: 0;
        margin-bottom: 24px;
    }
    
    .section-2 .main-2 img{
        margin-right: 0;
        margin-top: 24px;
    }
    .course-details{
        filter: blur(0px);
    }



    .footer-content{
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .footer{
        padding: 72px 16px 48px 16px;
    }
    .footer-content .footer-logo{
        width:100%;
        margin-bottom: 32px;
    }
    .site-links{
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: start;
        /* margin-left: 48px; */
    }
    .footer-content .site-links a{
        border-right: 0;
        border-bottom: 1px var(--primary-color) solid;
        color: #ffffff;
        font-size: 24px;
        font-weight: 400;
        margin: 8px 0;
        padding: 12px 0;
        /* width: 100%; */
    }

    .footer-content .site-links a:last-child{
        margin: 8px 0 0 0;
        border-bottom: none;
        padding: 12px 0;
    }

    .course-details img{
        height: 290px;
    }

}

@media screen and (min-width: 1025px) and (max-width: 1119px) {
    nav{
        padding: 0 16px 0 16px;
    }
    section{
        padding: 0 16px 0 16px;
    }
}

/* bonus */
@media screen and (min-width: 769px) and (max-width: 798px) {
    nav{
        padding: 0 16px 0 16px;
    }
    section{
        padding: 0 16px 0 16px;
    }
    .menu-items{
        display: none;
    }
}